version: "3"

services:
  api-gateway:
    build:
      # context: krakend
      dockerfile: ./Dockerfile
    container_name: api-gateway
    ports:
      - "8080:8080"
    volumes:
      - ./krakend.json:/etc/krakend/krakend.json
